<div class="login">
	<div class="social-btn btns">
		<button class="btn-linkedin btn">
      <span class="icon icon-linkedin"></span>Login with Linkedin</button>
		<button class="btn-google btn">
      <span class="icon icon-google"></span>Login with Google</button>
	</div>
	<div class="line">
		<span>or</span>
	</div>
	<form>
		<div class="form-group">
			<input type="text" placeholder="Email">
		</div>
		<div class="form-group">
			<input type="password" placeholder="Password">
		</div>
		<div class="form-link">
			<div class="form-group">
        <input type="checkbox" id="remember" class="checkbox">			
				<label for="remember">Remember me</label>
			</div>
			<a href="#" class="forgot-password">Forgot password?</a>
		</div>
		<button type="submit" class="btn-form btn">Log in</button>
	</form>
	<div class="signup-group">
		Don't have an account?
		<button class="btn-signup">Sign up</button>
	</div>
</div>