<div class="reset-passw">
  <h3 class="reset-passw-title">Reset Password</h3>

  <p class="reset-passw-text">Enter the email address associated with your account, and we’ll email you a link to reset
    your password.</p>

  <form [formGroup]="myForm" (ngSubmit)="myForm.valid && onSubmit(myForm.value)">
    <div class="form-group">
      <input type="text"
             formControlName="email"
             class="input reset-passw-input"
             name="email"
             placeholder="Email"
             [class.error]="!email.valid && email.touched"
             (keyup.enter)="myForm.valid && onSubmit(myForm.value)"/>
      <span class="icon-mail"></span>
    </div>
    <div [hidden]="!(myForm.controls['email'].value === '' && email.touched)">Email is required</div>
    <div *ngIf="myForm.controls['email'].value && !myForm.controls['email'].valid && email.touched" class="message">
      Email is invalid
    </div>
    <button type="submit" class="reset-passw-btn btn">Send Reset Link</button>
  </form>
</div>

