<div class="container">
  <div class="blocks">
    <div class="block">
      <div class="block-title">
        <h3>Some very long project name</h3>
        <div class="icons">
          <a href="#" class="icon icon-edit">
            <span class="icon-Edit"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-blocks">
            <span class="icon-Blocks"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-message">
            <span class="icon-Message"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-more">
            <span class="icon-More"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
          </a>
        </div>
      </div>
      <div class="block-diagrams">
        <div class="block-diagram">
          <canvas width="105" height="105" class="circle1" #canvas1></canvas>
          <p class="diagram-title">Current Cost, $</p>
        </div>
        <div class="block-diagram">
          <canvas width="105" height="105" class="circle1" #canvas></canvas>
          <p class="diagram-title">Estimated Finish, BH</p>
        </div>
        <div class="block-diagram">
          <canvas width="150" height="100" class="circle1" #canvas2></canvas>
          <p class="diagram-title">Timeline records</p>
        </div>
      </div>
      <div class="block-progress">
        <h3 class="progree-title">Building Blocks Progress</h3>
        <ul class="progress-list">
          <li class="progress-item green"><span>5</span> completed</li>
          <li class="progress-item blue"><span>3</span> in progress</li>
          <li class="progress-item red"><span>1</span> deferred</li>
        </ul>
      </div>
    </div>
    <div class="block">
      <div class="block-title">
        <h3>Some very long project name</h3>
        <div class="icons">
          <a href="#" class="icon icon-edit">
            <span class="icon-Edit"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-blocks">
            <span class="icon-Blocks"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-message">
            <span class="icon-Message"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-more">
            <span class="icon-More"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
          </a>
        </div>
      </div>
      <div class="block-diagrams">
        <div class="block-diagram">
          <canvas width="105" height="105" class="circle1" #canvas1></canvas>
          <p class="diagram-title">Current Cost, $</p>
        </div>
        <div class="block-diagram">
          <canvas width="105" height="105" class="circle1" #canvas></canvas>
          <p class="diagram-title">Estimated Finish, BH</p>
        </div>
        <div class="block-diagram">
          <canvas width="150" height="100" class="circle1" #canvas2></canvas>
          <p class="diagram-title">Timeline records</p>
        </div>
      </div>
      <div class="block-progress">
        <h3 class="progree-title">Building Blocks Progress</h3>
        <ul class="progress-list">
          <li class="progress-item green"><span>5</span> completed</li>
          <li class="progress-item blue"><span>3</span> in progress</li>
          <li class="progress-item red"><span>1</span> deferred</li>
        </ul>
      </div>
    </div><div class="block">
      <div class="block-title">
        <h3>Some very long project name</h3>
        <div class="icons">
          <a href="#" class="icon icon-edit">
            <span class="icon-Edit"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-blocks">
            <span class="icon-Blocks"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-message">
            <span class="icon-Message"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-more">
            <span class="icon-More"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
          </a>
        </div>
      </div>
      <div class="block-diagrams">
        <div class="block-diagram">
          <canvas width="105" height="105" class="circle1" #canvas1></canvas>
          <p class="diagram-title">Current Cost, $</p>
        </div>
        <div class="block-diagram">
          <canvas width="105" height="105" class="circle1" #canvas></canvas>
          <p class="diagram-title">Estimated Finish, BH</p>
        </div>
        <div class="block-diagram">
          <canvas width="150" height="100" class="circle1" #canvas2></canvas>
          <p class="diagram-title">Timeline records</p>
        </div>
      </div>
      <div class="block-progress">
        <h3 class="progree-title">Building Blocks Progress</h3>
        <ul class="progress-list">
          <li class="progress-item green"><span>5</span> completed</li>
          <li class="progress-item blue"><span>3</span> in progress</li>
          <li class="progress-item red"><span>1</span> deferred</li>
        </ul>
      </div>
    </div><div class="block">
      <div class="block-title">
        <h3>Some very long project name</h3>
        <div class="icons">
          <a href="#" class="icon icon-edit">
            <span class="icon-Edit"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-blocks">
            <span class="icon-Blocks"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-message">
            <span class="icon-Message"><span class="path1"></span><span class="path2"></span></span>
          </a>
          <a href="#" class="icon icon-more">
            <span class="icon-More"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
          </a>
        </div>
      </div>
      <div class="block-diagrams">
        <div class="block-diagram">
          <canvas width="105" height="105" class="circle1" #canvas1></canvas>
          <p class="diagram-title">Current Cost, $</p>
        </div>
        <div class="block-diagram">
          <canvas width="105" height="105" class="circle1" #canvas></canvas>
          <p class="diagram-title">Estimated Finish, BH</p>
        </div>
        <div class="block-diagram">
          <canvas width="150" height="100" class="circle1" #canvas2></canvas>
          <p class="diagram-title">Timeline records</p>
        </div>
      </div>
      <div class="block-progress">
        <h3 class="progree-title">Building Blocks Progress</h3>
        <ul class="progress-list">
          <li class="progress-item green"><span>5</span> completed</li>
          <li class="progress-item blue"><span>3</span> in progress</li>
          <li class="progress-item red"><span>1</span> deferred</li>
        </ul>
      </div>
    </div>
  </div>
</div>
