<div class="confirm">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group">
      <input disabled type="text" class="input confirm-email" name="email" placeholder="Mycompany@gmail.com"/>
    </div>
    <div class="form-group">
      <input type="text"
             class="input confirm-name"
             name="name"
             formControlName="username"
             placeholder="Name"/>
    </div>
    <div class="form-group">
      <input type="text"
             class="input confirm-password"
             name="password"
             formControlName="password"
             placeholder="Password"/>
    </div>
    <div class="form-group">
      <input type="text"
             class="input confirm-password"
             name="confirm-password"
             formControlName="confirmPassword"
             placeholder="Password Verify"/>
    </div>
    <div class="form-group">
      <p class="form-social">Connect your social profiles to Building Blocks</p>
      <a href="#" class="btn-sml btn-lnkdin"></a>
    </div>
    <button type="submit" class="confirm-button btn">Confirm</button>
  </form>
</div>
